@import "bootstrap/dist/css/bootstrap.min.css";

body, html {
    background: rgb(8, 7, 7);
    height: 100%;
    text-align: center;
    max-height: 100vh;
}


/*CLASE PARA EL CONTENEDOR GLOBAL */
.contenedor-global {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./fondo/64fdd50e-0191-4878-b4cc-386ac754a7bf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*CLASE DEL CONTENEDOR DE LA CARTA */
.contenedor-carta {
    width: 24%;
    height: 80%;
    border-radius: 6px;
    /*box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 10px 20px rgba(255, 255, 255, 0.15), 0 15px 30px rgba(255, 255, 255, 0.2);*/
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.5); 
}


/*CLASE DEL CONTENEDOR DEL PALO SUPERIOR*/
.contenedor-palo-superior {
    background-color: #fff;
    width: 100%;
    height: 20%;  
    display: flex;
    justify-content: start;
    align-items: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
/*clase del palo superior */
.palo-superior {
    margin-left: 5%;
    font-size: 5em;
}


/*CLASE DEL CONTENEDOR DEL CUERPO DE LA CARTA*/
.contenedor-cuerpo-numero {
    /*background-color: rgb(223, 239, 194);*/
    background-color: #fff;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.cuerpo-numero {
    font-size: 14em;
}


/*CLASE DEL CONTENEDOR DEL PALO INFERIOR*/
.contenedor-palo-inferior {
    /*background-color: rgb(145, 213, 236);*/
    background-color: #fff;
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display:flex;
    justify-content: end;
    align-items: center;
}
/*clase del palo inferior */
.palo-inferior {
    margin-right: 5%;
    transform: rotate(180deg);
    font-size: 5em;
}

.palo-pica-corazon {
    color: red;
}